.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 300px;
  border: 1px solid #fff;
  border-radius: 8px;
}
